html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background: none;

    -webkit-font-smoothing: antialiased;
}


body {
    background: linear-gradient(243.18deg,
            rgba(75, 49, 160, 1) 0%,
            rgba(52, 67, 162, 1) 33.33333432674408%,
            rgba(67, 29, 155, 1) 66.66666865348816%,
            rgba(74, 10, 151, 1) 100%);
    margin: 0;
    padding: 0;
}

header {
    z-index: 1000;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    background: linear-gradient(243.18deg,
            rgba(75, 49, 160, 1) 0%,
            rgba(52, 67, 162, 1) 33.33333432674408%,
            rgba(67, 29, 155, 1) 66.66666865348816%,
            rgba(74, 10, 151, 1) 100%)
}

.navopt {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 3.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    letter-spacing: 0.16em;
    text-transform: uppercase;

}

.logo {
    display: inline-block;
    color: rgba(255, 255, 255, 0.92);
    font-family: "Dela Gothic One", serif;
    font-size: 2.55rem;
    font-weight: 900;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

.navopt a {
    opacity: 0.6;
    color: #C2C2C2;
    font-family: "Newsreader", serif;
    font-size: 1rem;
    font-weight: 600;

}


.navopt .navbtn:hover {
    opacity: 1;
}

.home {
    background: linear-gradient(243.18deg,
            rgba(75, 49, 160, 1) 0%,
            rgba(52, 67, 162, 1) 33.33333432674408%,
            rgba(67, 29, 155, 1) 66.66666865348816%,
            rgba(74, 10, 151, 1) 100%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
}


.hometext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    gap: 2rem;
    width: 50%;
}

.hometitle {
    color: #D7CBCB;
    font-family: "Playfair Display", serif;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
}


.homesubtitle {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-family: "Montserrat", serif;
    font-size: 1.5rem;
    letter-spacing: 0.16em;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.8);
}


.homebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(89.43deg,
            rgba(67, 42, 137, 1) 6.399963051080704%,
            rgba(76, 31, 115, 1) 89.89996314048767%);
    border-radius: 50px;
    width: 12.5rem;
    height: 3.75rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.44);

}



.homebtn:hover {
    transform: scale(1.035);
    cursor: pointer;
    transition-delay: 0.4s;
    transition-duration: 1s;
    transition-property: ease-in-out;
}

.homebtn a {
    text-decoration: none;
    font-family: "Montserrat", serif;
    background: var(--text,
            linear-gradient(94.34deg,
                rgba(255, 255, 255, 1) 40.09431302547455%,
                rgba(153, 153, 153, 1) 75.75986385345459%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.homeimg {
    width: 40%;
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.homeimg img {
    width: 37.5rem;
    height: 33.75rem;
}

.mainhome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
    background: linear-gradient(243.18deg,
            rgba(75, 49, 160, 1) 0%,
            rgba(52, 67, 162, 1) 33.33333432674408%,
            rgba(67, 29, 155, 1) 66.66666865348816%,
            rgba(74, 10, 151, 1) 100%);
}

.heading {
    font-family: "Dela Gothic One", serif;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.96);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 4rem;
    padding-top: 4.35rem;
}


.cards {
    width: 16.25rem;
    height: 23.75rem;
    background: linear-gradient(146.08deg,
            rgba(76, 31, 115, 1) 1.362673006951809%,
            rgba(92, 27, 142, 1) 13.598714768886566%,
            rgba(72, 47, 161, 1) 27.69472301006317%,
            rgba(67, 42, 137, 1) 79.39996123313904%,
            rgba(115, 27, 183, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    border-radius: 28px;


}


.cards:hover {
    transform: scale(1.02);
    transition-delay: 0.4s;
    transition-duration: 1s;
    transition-property: ease-in-out;
}

.cardimg img {
    border-radius: 20px;
    width: 162.29px;
    height: 225.22px;
    object-fit: cover;
    aspect-ratio: 162.29/225.22;

}

.blktitle {
    font-family: "Dela Gothic One", serif;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.84);
    text-transform: uppercase;
    gap: 24px;
    text-align: center;
}

button {
    color: none;
    text-decoration: none;
    list-style: none;
}

.blkbtn button {
    color: rgba(217, 217, 217, 0.92);
    background: linear-gradient(-84.36deg,
            rgba(45, 2, 48, 0.4) 0%,
            rgba(104, 27, 172, 1) 86.81179881095886%,
            rgba(105, 0, 140, 1) 100%);
    border-radius: 25px;
    width: 104.11px;
    height: 37.26px;
    text-transform: uppercase;
    font-weight: 500;
}

.block {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.75rem;
}

.stream {
    width: 100%;
    background: linear-gradient(243.18deg,
            rgba(75, 49, 160, 1) 0%,
            rgba(52, 67, 162, 1) 33.33333432674408%,
            rgba(67, 29, 155, 1) 66.66666865348816%,
            rgba(74, 10, 151, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 7rem;

}

.streamheading {
    color: rgba(255, 255, 255, 0.92);
    font-family: "Dela Gothic One", serif;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    padding: 4rem;
}

.streamopt {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 5rem;
}



.paidstream {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.paidtitle {
    font-family: "Roboto Flex", serif;
    color: rgba(255, 255, 255, 0.85);
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    padding: 4rem;

}


.paidimg {
    width: 100%;
    gap: 1.15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;

}



.stream img {
    width: 320px;
    height: 128px;
    border-radius: 28px;
}

.stream img:hover {
    transform: scale(1.04);
    transition-delay: 0.4s;
    transition-duration: 1s;
    transition-property: ease-in-out;
}

.freestream {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.freetitle {
    font-family: "Roboto Flex", serif;
    color: rgba(255, 255, 255, 0.85);
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    padding: 4rem;

}

.freeimg {
    width: 100%;
    gap: 1.15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: 3rem;

}


.contacts {
    margin: 0 2.5%;
    color: rgba(255, 255, 255, 0.85);
    border-top: 1.25px solid white;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;

}

.ft-title {
    text-align: center;
    width: 45%;
    font-family: "Dela Gothic One", serif;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 0.16em;
    text-transform: uppercase;

}

.ft-contact-info {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4rem;

}

.socials {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.socialtitle {
    font-family: "Montserrat", serif;
    font-size: 1.15rem;
    font-weight: 800;
    letter-spacing: 0.16em;
    text-transform: uppercase;


}

.sociallinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    font-family: "Roboto Flex", serif;
    font-size: 0.90rem;
    font-weight: 400;
    text-transform: uppercase;
}

.sociallinks a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}


.contactinfo {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.contacttitle {
    font-family: "Montserrat", serif;
    font-size: 1.15rem;
    font-weight: 800;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

.contactdetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    font-family: "Roboto Flex", serif;
    font-size: 0.90rem;
    font-weight: 400;
    text-transform: uppercase;
    gap: 1rem;
    opacity: 0.85;
}

.websiterights {
    display: flex;
    justify-content: center;
}

.websiterightsbg {
    margin: 2rem 0 0.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 46px;
    background-color: rgba(217, 217, 217, 0.15);
    border-radius: 40px;
}

.bgrights {
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto Flex", serif;
    font-size: 0.90rem;
    letter-spacing: 0.16em;
    font-weight: 400;
    text-transform: uppercase;
}


.bgrights span {
    font-family: "Montserrat", serif;
    font-size: 1.15rem;
    font-weight: 900;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}



@media (min-width:450px) and (max-width:850px){
    .logo{
        font-size: 0.625rem;
    }
    .navopt a{
        font-size: 0.35rem;
    }
    .navopt{
        gap: 0.5rem;
    }
    .hometitle{
        font-size: 3rem;
    }
    .homesubtitle{
        font-size: 0.75rem;
        padding: 0 3.5rem;
    }
    .homeimg{
        display: none;
    }
    .hometext{
        width: 85%;
        margin: 0;
    }
    .homebtn{
    width: 6.25rem;
    height: 1.875rem;
    }
    .homebtn a{
        font-size: 0.75rem;
    }
    .heading {
        font-size: 2rem;
        padding-bottom: 2.5rem;
        padding-top: 2.75rem;
    }
    .cards {
        width: 14.25rem;
        height: 20.75rem;
    }
    .cardimg img {
        width: 115.29px;
        height: 173.22px;
    }
    
    .blktitle {
        font-size: 1rem;
        gap: 12px;
    }
    
    .blkbtn button {
        width: 89.11px;
        height: 23.26px;
        font-weight: 500;
        font-size: 0.5rem;
    }
    .streamheading {
        font-size: 1.5rem;
        padding: 2rem;
    }
    
    .streamopt {
        column-gap: 2rem;
    }
    
    .paidtitle {
        font-size: 0.75rem;
        padding: 2rem;
    
    }
    
    
    .paidimg {
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    
    }
    
    .stream img {
        width: 140px;
        height: 60px;
    }
    
    .freetitle {
        font-size: 0.75rem;
        padding: 2rem;
    
    }
    
    .freeimg {
        padding: 0;
        gap: 1.15rem;
        display: flex;flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .ft-title {
        font-size: 1.75rem;
    }
    .ft-contact-info {
        gap: 2rem;
        justify-content: flex-start;
    }
    .socials {
        gap: 1rem;
    
    }
    
    .socialtitle {
        font-size: 0.65rem;
    }
    
    .sociallinks {
        gap: 0.4rem;
        font-size: 0.5rem;
    }
    
    .contactinfo {
        gap: 1rem;
    }
    
    .contacttitle {
        font-size: 0.75rem;
    }
    
    .contactdetails {
        gap: 0.36rem;
        font-size: 0.4rem;
    }
    .websiterightsbg {
        margin: 1rem 0 0.125rem 0;
        width: 40%;
        height: 1.5rem;
    }
    
    .bgrights {
        font-size: 0.40rem;
    }
    
    
    .bgrights span {
        font-size: 0.75rem;
    }
    
    
}

@media (min-width:851px) and (max-width:1000px){
    .logo{
        font-size: 1.5rem;
    }
    .navopt a{
        font-size: 0.95rem;
    }
    .navopt{
        gap: 1.5rem;
    }
    .hometitle{
        font-size: 4rem;
    }
    .homesubtitle{
        font-size: 1rem;
        padding: 0 4rem;
    }
    .homeimg{
        /* display: none; */
    width: 50%;
    height: 50%;
    }
    .hometext{
        width: 85%;
        margin: 0;
    }
    .homebtn{
    width: 8.55rem;
    height: 2.875rem;
    }
    .homebtn a{
        font-size: 1rem;
    }
    .heading {
        font-size: 2.75rem;
        padding-bottom: 2.5rem;
        padding-top: 2.75rem;
    }
    .cards {
        width: 16.25rem;
        height: 24.75rem;
    }
    .cardimg img {
        width: 120.29px;
        height: 180.22px;
    }
    
    .blktitle {
        font-size: 1.5rem;
        gap: 1rem;
    }
    
    .blkbtn button {
        width: 98.11px;
        height: 28.26px;
        font-weight: 500;
        font-size: 0.75rem;
    }
    .streamheading {
        font-size: 2rem;
        padding: 2rem;
    }
    
    .streamopt {
        column-gap: 2rem;
    }
    
    .paidtitle {
        font-size: 1.25rem;
        padding: 2rem;
    
    }
    
    
    .paidimg {
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    
    }
    
    .stream img {
        width: 160px;
        height: 70px;
    }
    
    .freetitle {
        font-size: 1.25rem;
        padding: 2rem;
    
    }
    
    .freeimg {
        padding: 0;
        gap: 1.15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .ft-title {
        font-size: 2rem;
    }
    .ft-contact-info {
        gap: 2rem;
        justify-content: flex-start;
    }
    .socials {
        gap: 1rem;
    
    }
    
    .socialtitle {
        font-size: 1rem;
    }
    
    .sociallinks {
        gap: 0.4rem;
        font-size: 0.75rem;
    }
    
    .contactinfo {
        gap: 1rem;
    }
    
    .contacttitle {
        font-size: 0.95rem;
    }
    
    .contactdetails {
        gap: 0.4rem;
        font-size: 0.75rem;
    }
    .websiterightsbg {
        margin: 1.75rem 0 0.2rem 0;
        width: 40%;
        height: 2.25rem;
    }
    
    .bgrights {
        font-size: 0.750rem;
    }
    
    
    .bgrights span {
        font-size: 1rem;
    }
    
    
}

