html {
    scroll-behavior: smooth;
    background: linear-gradient(
        -82.07deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(51, 51, 51, 1) 5.228535830974579%,
        rgba(102, 102, 102, 1) 13.905902206897736%,
        rgba(102, 102, 102, 1) 57.007867097854614%,
        rgba(77, 77, 77, 1) 100%
      );
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background: none;

    -webkit-font-smoothing: antialiased;
}


body{
    background: linear-gradient(
        -82.07deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(51, 51, 51, 1) 5.228535830974579%,
        rgba(102, 102, 102, 1) 13.905902206897736%,
        rgba(102, 102, 102, 1) 57.007867097854614%,
        rgba(77, 77, 77, 1) 100%
      );
    margin: 0;
    padding: 0;
}

header{
    z-index: 1000;
    position: sticky;
    top: 0;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.16);
}
.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 80px;
    width: 100%;
    background:linear-gradient(
        243.18deg,
        rgba(75, 49, 160, 1) 0%,
        rgba(52, 67, 162, 1) 33.33333432674408%,
        rgba(67, 29, 155, 1) 66.66666865348816%,
        rgba(74, 10, 151, 1) 100%
      )
      
}

.navopt{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 100px;
    letter-spacing: 0.16em;
    text-transform: uppercase;

}

.logo{
    display: inline-block;
    position: absolute;
    left: 104px;
    color: rgba(255, 255, 255, 0.92);
    font-family:"Dela Gothic One", serif;
    font-size: 40px;
    font-weight:900 ;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

.navopt a{
    opacity: 0.6;
    color: #C2C2C2;
    font-family: "Newsreader", serif;
    font-size: 16px;
    font-weight: 600;
    
}


.navopt .navbtn:hover{
    opacity: 1;
}

.home{
    background:   linear-gradient(
        243.18deg,
        rgba(75, 49, 160, 1) 0%,
        rgba(52, 67, 162, 1) 33.33333432674408%,
        rgba(67, 29, 155, 1) 66.66666865348816%,
        rgba(74, 10, 151, 1) 100%
      );
      height: 100vh;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 80px;
      letter-spacing: 0.16em;
    }
/* .hometext{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
} */
.hometitle{
    color: #D7CBCB;
    position: absolute;
    left: 42px;
    top: 200px;
    font-family:"Playfair Display", serif;
    font-size: 80px;
    font-weight:900 ;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
}


.homesubtitle{
    height: 98px;
    width:548px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 330px;
    left: 45px;
    font-family: "Montserrat", serif;
    font-size: 24px;
    letter-spacing: 0.16em;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.8);
}


.homebtn{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
    89.43deg,
    rgba(67, 42, 137, 1) 6.399963051080704%,
    rgba(76, 31, 115, 1) 89.89996314048767%
  );
    border-radius: 50px;
    width: 200px;
    height: 60px;
    position: absolute;
    top: 480px;
    left: 203px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.44);

}



.homebtn:hover{
    transform: scale(1.02);
    cursor: pointer;
    transition-delay: 0.4s;
    transition-duration: 1s;
    transition-property: ease-in-out;
}

.homebtn span{
    font-family: "Montserrat", serif;
    background: var(
        --text,
        linear-gradient(
          94.34deg,
          rgba(255, 255, 255, 1) 40.09431302547455%,
          rgba(153, 153, 153, 1) 75.75986385345459%
        )
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.homeimg{
    position:absolute;
    right: 108px;
    top: 67px;
}
.homeimg img{
    width: 600px;
    height: 540px;
}

.mainhome{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(
        243.18deg,
        rgba(75, 49, 160, 1) 0%,
        rgba(52, 67, 162, 1) 33.33333432674408%,
        rgba(67, 29, 155, 1) 66.66666865348816%,
        rgba(74, 10, 151, 1) 100%
      );
}
.heading{
    font-family:"Dela Gothic One", serif;
    font-size: 64px;
    color: rgba(255, 255, 255, 0.96);
    text-transform: uppercase;
    position:absolute;
    top: 120px;
    left: 540px;
}


.cards{
    width: 256px;
    height: 368px;
    background: linear-gradient(
        151.58deg,
        rgba(67, 42, 137, 1) 0%,
        rgba(76, 31, 115, 1) 28.251683712005615%
      );
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      border-radius: 28px;


}

.cardimg img{
  border-radius: 20px;
  width: 162.29px;
  height: 225.22px;
  /* filter: blur(4px); */
  object-fit: cover;
  aspect-ratio: 162.29/225.22;

}

.blktitle{
    font-family:"Dela Gothic One", serif;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.84);
    text-transform: uppercase;  
    gap: 24px;
    text-align: center;
}

button{
    color: none;
    text-decoration: none;
    list-style: none;
}

.blkbtn button{
    color: rgba(217, 217, 217, 0.92);
    background: linear-gradient(
    -84.36deg,
    rgba(45, 2, 48, 0.4) 0%,
    rgba(104, 27, 172, 1) 86.81179881095886%,
    rgba(105, 0, 140, 1) 100%
  );
  border-radius: 50px;
  width: 143.11px;
  height: 37.26px;
}

.block{
    width: 80%;
    height: 1024px;
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    position: absolute;
    top: 280px;
    left: 175px;
}

